@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav {
  font-family: 'Poppins';
  background-color: seagreen;
  padding-top: 1%;
  padding-bottom: 1%;
}

.nav-item {
  font-weight: bold;
  padding: 1%;
  color: darkseagreen;
}

.nav-item:hover {
  background-color: lightgreen;
  color: seagreen
}

.info {
  align-items: center;
  margin-top: 16%;
  font-size: 150%;
}

a {
  transition: all 0.3s ease;
  text-decoration: none;
  color: yellowgreen;
}